# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml

# Flutter / Dart
**/build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
*.g.dart.tmp
**/ios/Pods/
**/android/.gradle/
**/android/key.properties
config.json
*.env

# .NET
bin/
obj/
*.user
appsettings.*.local.json
